{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    </div>

    <div class="row">
    </div>
</div>
{% endblock %}